<title> 2017 RIVER FOREST MEMORIAL DAY PARADE : VETERANS HONORED</title>
<style>
a.honorees $no_link
</style>
</head>

<body bgcolor="#FBE58F">

<p><h2 align="center"> 
     The River Forest Service Club                      <br>
     honors River Forest residents                      <br>
     who have served our country in the armed forces. </h2> </p>

<hr width="50%">

#include "links.incl"
#include "parade/2017_parade/parade_links.incl"

</p>

<hr width="50%">   
<br>

</p>


<p align="center">
  <img src="../../images/jeep.jpg" alt="Antique Military Vehicle Club" width=400>
</p>


<br>
<p>
During the 2017 Memorial Day ceremonies, 
The River Forest Service Club will honor several River Forest residents.
</p>

<h3>Special Honors for Past Memorial Day Parade Chairmen and Persons of High Civic Engagement</h3>
<ul>
<li>Mr. Thomas Cusack Jr. </li>
<li>Mr. George Gregg (1928 &ndash; 2015) </li>
<li>Mr. John Hagensack (1928 &ndash; 2016) </li>
</ul>


<h3>For Past Military Duty</h3>
<p>
<ul>
<li><span class="active_duty_name">CDR Frederick C. Schiller, USN</span>
</ul>
<ul>
<li><span class="active_duty_name">Lt. Colonel Thomas S. Wieczorek, USA</span>
</ul>
<ul>
<li><span class="active_duty_name">Lt. CDR Mia Esposito, USN</span>
</ul>
<ul>
<li><span class="active_duty_name">Capt. John Gall, USA - Parade Grand Marshal</span>
</ul>
<ul>
<li><span class="active_duty_name">Capt. Matt Hanson, USMC</span>
</ul>
<ul>
<li><span class="active_duty_name">Lt. John P. Majewski, USN</span>
</ul>
<ul>
<li><span class="active_duty_name">1st PO Robert M. Stoltz, USN</span>
</ul>
<ul>
<li><span class="active_duty_name">Spec 4 William S. Weiland, USA</span>
</ul>
</p>
<h3>Active Military Duty</h3>
<ul>								   
<li>
<span class="active_duty_name">  Capt. Christopher J. Hanson, USN </span>
<span class="active_duty_info"> NAVESEASYSTEMS COM, Washington D.C.
<br> Son of Dave &amp; Nancy Hanson </span>
</li>
<span class="active_duty_name"> Colonel Edward L. Jeep, USMC </span>
<span class="active_duty_info">Parris Island, SC 
<br> Son of Liz Jeep</span>
<li>
<span class="active_duty_name"> Colonel Margaret C. Martin, USAF</span>
<span class="active_duty_info"> Permanent Professor, Head of History Dept. US Air Force Academy
<br> Daughter of Frank &amp; Buff Martin</span>
<li>
<span class="active_duty_name"> Maj. Sarah Culbertson USMC</span>
<span class="active_duty_info">Washington, D.C.
<br> Daughter of Linda Resiburg</span>
<li>
<span class="active_duty_name"> Capt. Jim Gullo, USAF</span>
<span class="active_duty_info">MD Radiology, David Grant Med Center, Travis AFB, CA
<br> Son of Gregory &amp; Helen Gullo</span>
<li>
<span class="active_duty_name"> Lt. CDR Trevor Skelly, USN</span>
<span class="active_duty_info">USN Reserves
<br> Son of Mike &amp; Sue Skelly</span>
<li>
<span class="active_duty_name"> 2nd Lt. Amanda Lamacki USAF Reserves</span>
<span class="active_duty_info">Fort Sheridan, IL</span>
<br> Daughter of Andrea Lamacki</span>
<li>
<span class="active_duty_name"> Lt. Douglas J. Wozniak, USN </span>
<span class="active_duty_info">ASW Officer, 6th Fleet, Naples, Italy</span>
<br> Son of Mr. &amp; Mrs. Mark Wozniak</span>
<li>
<span class="active_duty_name">Capt. Peter C. Toberman, USA </span>
<span class="active_duty_info">1st Army, Rock Island Arsenal, IL
<br> Son of Wayne &amp; Sherry Toberman</span>
<li>
<span class="active_duty_name">SFC Edith Buckner USA</span>
<span class="active_duty_info">Active River Forest Police Officer</span>
<li>
<span class="active_duty_name">1st Lt. Robert Barnhisel, USMC </span>
<span class="active_duty_info">Weapons Platoon CO, 3rd Batt, 7th Marines, Middle East
<br> Son of William &amp; Donna Barnhisel
<li>
<span class="active_duty_name">Lt Clayton Young, USN </span>
<span class="active_duty_info">Admissions Officer US Naval Academy, Chicago IL
<br> Son of Jim &amp; Mary Ellen Young</span>
<li>
<span class="active_duty_name">SFC Scott Dinse, USA </span>
<span class="active_duty_info">1st Air Recon Batt, Fort Riley, KS
<br> Nephew of Jim &amp; Lynn Winikates</span>
<li>
<span class="active_duty_name"> SSG David J. Erfort, Jr., USA </span>
<span class="active_duty_info">Helicopter Mechanic, Fort Lewis McCord, WA
<br> Son of David &amp; Bridget Erfort</span>
<li>
<span class="active_duty_name"> SSG. Brian C. Driscoll, USA </span>
<span class="active_duty_info">1st Special Forces Group (Abn), Fort Lewis McCord, WA
<br> Son of Dr. Paul &amp; Laurie Driscoll</span>
<li>
<span class="active_duty_name">PFC Neal Skelly, USAF </span>
<span class="active_duty_info">USAF Base, London, England</span>
<br><span class="active_duty_info">Son of Mike &amp; Sue Skelly</span>
<li>
<span class="active_duty_name">Pvt Cameron Smart USA</span>
<span class="active_duty_info">Fort Sill, OK</span>
<span class="active_duty_info">Son of Valarie Smart</span>
<li>
<span class="active_duty_name"> Victoria Gullo, USAF </span>
<span class="active_duty_info">2nd Lt., Oxford University, Oxford, UK
<br> Daughter of Gregory &amp; Helen Gullo</span>
<li>
<span class="active_duty_name"> 2nd Lt. Richard S. Pickren, Jr. </span>
<span class="active_duty_info">IL National Guard, Alpha Battery, 2-122 Field Artillery 33 IBCT
<br> Son of Rick &amp; Shelly Pickren</span>
<li>
<span class="active_duty_name">SPC Zackery S. Pickren </span>
<span class="active_duty_info">IL National Guard, Alpha Battery, 2-122 Field Artillery 33 IBCT
<br> Son of Rick &amp; Shelly Pickren</span>

