<title>John Gall</title>
<link rel="stylesheet" type="text/css" href="$home/slides.css">
<style>

a.parade $no_link
</style>
</head>

<body bgcolor="#FBE58F" class="parade">

#include "links.incl"



#include "parade/parade_links.incl"

<br>

<div id="image_wrapper">
<img src="pics/jgall.jpg">   
</div>

<p>
John Gall &mdash; the 2017 Grand Marshall &mdash; describes his US Army service:
</p>
<p>
I was born and raised in Toledo, Ohio with my parents who were immigrants from Hungary.  I attended Denison University in Ohio as an undergraduate.  Following Denison I went to Northwestern University for medical school.  I did my residency at Cook County Hospital in 1968.  I entered the U.S. Army in October, 1969 going to Fort Sam Huston for basic military training.  I was then assigned to the 71st Evacuation Hospital in Pleiku, Viet Nam located in the highlands.  I did a lot of work with the Montagnards in this area.  After 6 months I was reassigned to the 1st of the 50th mechanized infantry battalion as a battalion surgeon based in Phan Thiet.  After leaving Viet Nam, I was stationed at Fort Leonard Wood, Missouri.  I was discharged with the rank of captain in June, 1972.
</p>
<p>
After returning from military service I completed my residency at Northwestern in radiology.  I remained in private practice until I retired in 2012.  I have three children who were raised in River Forest now along with 7 grand children.  I continue to live in River Forest and 5 of my grandchildren are River Forest residents.
</p>


