<title> 2015 RIVER FOREST MEMORIAL DAY PARADE : VETERANS HONORED</title>
<style>
a.honorees $no_link
</style>

</head>

<body bgcolor="#FBE58F">

<p><h2 align="center"> 
     The River Forest Service Club                      <br>
     honors River Forest residents                      <br>
     who have served our country in the armed forces. </h2> </p>

<hr width="50%">

<p align="center" class="links"> 

   <b>Service Club Links  </b>   
        <br>

   <a href="../../index.html">Home</a> 
        &#160&#160&#160

   <a href="../../officers.html">Officers</a>    
        &#160&#160&#160

   <a href="../../veterans.html">Veterans</a>
   &#160&#160&#160

   <a href="https://www.facebook.com/pages/River-Forest-Service-Club/137759746274918">
     Facebook</a>
        &#160&#160&#160
   <a href="../../meetings.html">Meetings</a>    
        &#160&#160&#160

   <a href="../../membership.html">Membership</a>
        <br><br>

#include "parade/2015_parade/parade_links.incl"

</p>

<hr width="50%">   
<br>

</p>




<p align="center">
  <img src="../../images/jeep.jpg" alt="Antique Military Vehicle Club" width=400>
</p>


<br>
<table width=65% align="center" border=0 cellpadding=0 cellspacing=0>
<p class="text" align="left">
<font size=5>
During the 2015 Memorial Day ceremonies, 
The River Forest Service Club will honor several River Forest residents.
</font>
                                                                       <br> <br>
</p> </table>

<!--  ************************************** -->


    <h2>Honoring River Forest Residents for Past Military Duty:</h2>

    <b>PFC Robert L. Reybolds, USA 1944-1946, Awarded Silver Star<b><br>
    <br>
    <br>	 
    <!-- <b><u>Robert McCabe, Capt. USA</u></b><br><br> -->

    <!-- <b><u>Douglas Peterson, Lt Jg, USN</u></b>    <br> -->
    <!-- USS Washtenaw County, LST #1166 <br><br> -->

    <!-- <b><u>Donald Wieczorek, Corpsman, USAMC</u></b>    <br> -->
    <!-- <br> -->
    <!-- <b><u>Judson P. Beck, SM3 USN.</u></b>    <br> -->
    <!-- USS Durham LKA 114<br><br> -->

    <table align="center" width=45% border=15 cellpadding=15 cellspacing=0 bgcolor="#CCFF99">
    <tr align="center"><td>
             <b>WANTED !! &#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160&#160 WANTED !!</b>
    </td></tr> 
    <tr><td>
             Information on any River Forest residents who:   <br>
             &#160&#160&#160 &#149 are on active military duty for our country, or       <br> 
             &#160&#160&#160 &#149 are a veteran of our country&rsquo; armed forces.          <br>
    </td></tr> 
    <tr><td>
             Contact a member of the Service Club to have them honored by our community in future Memorial Day ceremonies, or
	     fill out the form <a href="../../veterans.html">here</a>.

    </td></tr>
    </table>


    <br>

<table width=50% align="center" border=0 cellpadding=0 cellspacing=0>
<p class="text" align="left">


<!--  ************************************** -->


    <h2>Honoring River Forest Residents on Active Military Duty:</h2>
								   
   
    <b><u>Lt. Colonel Thomas S. Wieczorek, USA</u></b>    <br>
    Stationed Walter Reed Hospital                                   <br>
    (Son of Don &amp Joy Wieczorek)                                  <br><br> 

    <b><u>CDR. Christopher J. Hanson, USN </u></b> <br>
    Virginia Class Submarine Program Officer, Washington DC. <br>
    (Son of Dave &amp Nancy Hanson)                                  <br><br> 

    <b><u>Lt. Colonel Edward L. Jeep, USMC  </u></b>      <br>
    Stationed Pentagon                                   <br>
    (Son of Jerry &amp Elizabeth Jeep)                                     <br><br> 

    <b><u>Lt. Colonel Margaret C. Martin, USAF</u></b><br>
    Chapel Hill, NC<br>
    (Daughter of Frank and Buff Martin)<br><br>

    <b><u>Lt. Colonel Charles R. Anderson, USAF 618th Squadron</u></b>         <br> 
    Scott AFB, Belleview, IL                             <br>
    (Husband of Karen Anderson) <br><br>

    <b><u>Capt. Matt Hanson, USMC </u></b>              <br> 
    Marine Air VMFA (AW-224) Bufford, S.C. <br>
    (Son of Kenneth &amp Eleanor Hanson)                             <br><br> 

    <b><u>Lt. Trevor Skelly, USN </u></b>              <br>
    Naval Transportation Command, Afghanistan                  <br>
    (Son of Mike &amp Sue Skelly)                                    <br><br> 

    <b><u>Lt. Douglas J. Wozniak, USN </u></b>              <br>
    USS Hawaii, Virginia Class Submarine, Pearl Harbor, Hawaii           <br>
    (Son of Mr. &amp Mrs. Mark Wozniak)                                    <br><br> 

    <b><u>1st Lt. Chris McCole, USA Ranger </u></b>              <br> 
    Fort Bragg, N.C.                  <br>
    (Son of Kevin &amp Jane McCole)                                  <br><br> 

    <b><u>1st Lt. Cory Elich, USA </u></b>              <br> 
    Armed Division, Fort Hood, TX <br>
    (Son of William Elich)                                           <br><br> 

    <b><u>2nd Lt. Jim Gullo, USAF </u></b>                <br>
    University of Illinois Medical School;                                       <br>
    (Son of Gregory &amp Helen Gullo)                                <br><br> 

    <b><u>2nd Lt. Robert Barnhisel USMC </u></b>      <br> 
    Infantry Training <br>
    (Son of William &amp Donna Barnhisel)                                    <br><br> 

    <b><u>2nd Lt. Peter C. Toberman, USA </u></b>       <br> 
    (Son of Wayne &amp Sherry Toberman)                                      <br><br>

    <b><u>Ensign Clayton Young, USN</u></b>
    Auxiliaries Officer, USS Halsey, Pearl Harbor, HI <br>
    (Son of Jim &amp Mary Ellen Young)                                       <br><br>

    <b><u>SSG David J. Erfort, Jr., USA </u></b> <br> 
    Helicopter Mechanic, Fort Lewis, WA.   <br>
    (Son of David &amp Bridget Erfort)                               <br><br> 

    <b><u>SSG Scott Dinse, USA </u></b>          <br>
    Flight Medic, Fort Riley, KS <br>
    (Nephew of Jim &amp Lynn Winikates)                              <br><br>

    <b><u>SSG Edith Buckner, USA Reserves</u></b>          <br>
    Active Duty Afghanistan <br>
    (Police Officer River Forest Police Department)                              <br><br>

    <b><u>SGT Brian C. Driscoll, USA </u></b>       <br> 
    Army Special Forces Medical Group; Fort Bragg, NC <br>
    (Son of Dr. Paul &amp Laurie Driscoll)                              <br><br> 

    <b><u>SPC Lee Atkins, US Army National Guard </u></b>       <br> 
    Bravo Company - 1/178 33rd Battalion <br>
    (Son of Marc Atkins &amp Mary Lou Stewart)                              <br><br> 

    <b><u>Neal Skelly: USAF Recruit,</u></b>       <br> 
    Lackland AFB, San Antonio, TX <br>
    (Son of Mike &amp Sue Skelly)                              <br><br> 

    <b><u>U.S. Air Force Academy 4th Class Victoria Gullo </u></b>       <br> 
    (Daughter of Gregory &amp Hellen Gullo)                              <br><br> 

    <b><u>SPC Zachary S. Pickren, U.S. Army National Guard</u></b><br>
    Battery A, 2-122D Field Artillery<br>
    (Son of Rick &amp; Shelly Pickren) <br><br>

    <b><u>2nd Lt Richard S Pickren, Jr., U.S. Army National Guard</u></b><br>
    Battery A, 2-122D Field Artillery<br>
    (Son of Rick &amp; Shelly Pickren) <br><br>

<br>
<br>
<br>
<hr />
