<title> 2016 RIVER FOREST MEMORIAL DAY PARADE : VETERANS HONORED</title>
<style>
a.honorees $no_link
</style>
</head>

<body bgcolor="#FBE58F">

<p><h2 align="center"> 
     The River Forest Service Club                      <br>
     honors River Forest residents                      <br>
     who have served our country in the armed forces. </h2> </p>

<hr width="50%">

#include "links.incl"
#include "parade/2016_parade/parade_links.incl"

</p>

<hr width="50%">   
<br>

</p>


<p align="center">
  <img src="../../images/jeep.jpg" alt="Antique Military Vehicle Club" width=400>
</p>


<br>
<p>
During the 2016 Memorial Day ceremonies, 
The River Forest Service Club will honor several River Forest residents.
</p>

<h3>For Past Military Duty</h3>
<p>
<ul>
<li><span class="active_duty_name">PFC Robert L. Reynolds, USA 1944-1946, Awarded Silver Star</span>
</ul>
</p>
<h3>Active Military Duty</h3>
<ul>								   
<li>
<span class="active_duty_name">  Capt. Christopher J. Hanson, USN </span>
<span class="active_duty_info"> NAVESEASYSTEMS COM, Washington D.C.
<br> Son of Dave &amp; Nancy Hanson </span>
</li>
<li>
<span class="active_duty_name"> Lt. Colonel Thomas S. Wieczorek, USA</span>
<span class="active_duty_info">Stationed Bethesda Hospital, MD
<br> Son of Don &amp; Joy Wieczorek</span>
<li>
<span class="active_duty_name"> Lt. Colonel Edward L. Jeep, USMC </span>
<span class="active_duty_info">Stationed Pentagon
<br> Son of Jerry &amp; Liz Jeep</span>
<li>
<span class="active_duty_name"> Lt. Colonel Margaret C. Martin, USAF</span>
<span class="active_duty_info">CO 571st Mobility Support Advisory Squadron: Travis AFB, CA
<br> Daughter of Frank &amp; Buff Martin</span>
<li>
<span class="active_duty_name"> Capt. Matt Hanson, USMC </span>
<span class="active_duty_info">Weapons Sys Off
<br> VMFA (AW-224), Bufford, SC
<br> Son of Kenneth &amp; Eleanor Hanson</span>
<li>
<span class="active_duty_name"> Capt. Sarah Culbertson USMC</span>
<span class="active_duty_info">Camp Pendleton, CA
<br> Daughter of Linda Resiburg</span>
<li>
<span class="active_duty_name"> Capt. Jim Gullo, USAF</span>
<span class="active_duty_info">MD Radiology, David Grant Med Center, Travis AFB, CA
<br> Son of Gregory &amp; Helen Gullo</span>
<li>
<span class="active_duty_name"> Lt. Trevor Skelly, USN</span>
<span class="active_duty_info">Washington DC
<br> Son of Mike &amp; Sue Skelly</span>
<li>
<span class="active_duty_name"> Lt. Douglas J. Wozniak, USN </span>
<span class="active_duty_info">ASW Officer, 6th Fleet, Naples, Italy
<br> Son of Mr. &amp; Mrs. Mark Wozniak</span>
<li>
<span class="active_duty_name"> 1st Lt. Robert Barnhisel, USMC </span>
<span class="active_duty_info">Weapons Platoon CO, 3rd Batt, 7th Marines, Middle East
<br> Son of William &amp; Donna Barnhisel</span>
<li>
<span class="active_duty_name"> 1st Lt. Peter C. Toberman, USA </span>
<span class="active_duty_info">Osan AFB, Korea
<br> Son of Wayne &amp; Sherry Toberman</span>
<li>
<span class="active_duty_name">Lt Jg Clayton Young, USN </span>
<span class="active_duty_info">Electrical Officer, USS Bonhomme Richard LHD6, Sasebo, Japan
<br> Son of Jim &amp; Mary Ellen Young</span>
<li>
<span class="active_duty_name"> MSG Scott Dinse, USA </span>
<span class="active_duty_info">1st Air Recon Batt, Fort Riley, KS
<br> Nephew of Jim &amp; Lynn Winikates</span>
<li>
<span class="active_duty_name"> SSG David J. Erfort, Jr., USA </span>
<span class="active_duty_info">Helicopter Mechanic, Fort Lewis McCord, WA
<br> Son of David &amp; Bridget Erfort</span>
<li>
<span class="active_duty_name"> SSG. Brian C. Driscoll, USA </span>
<span class="active_duty_info">1st Special Forces Group (Abn), Fort Lewis McCord, WA
<br> Son of Dr. Paul &amp; Laurie Driscoll</span>
<li>
<span class="active_duty_name"> SrA Neal Skelly, USAF </span>
<span class="active_duty_info">Son of Mike &amp; Sue Skelly</span>
<li>
<span class="active_duty_name"> Victoria Gullo, USAF </span>
<span class="active_duty_info">Cadet 1st Class, USAF Academy, Co Springs, CO
<br> Daughter of Gregory &amp; Helen Gullo</span>
<li>
<span class="active_duty_name"> 2nd Lt. Richard S. Pickren, Jr. </span>
<span class="active_duty_info">IL National Guard, Alpha Battery, 2-122 Field Artillery 33 IBCT
<br> Son of Rick &amp; Shelly Pickren</span>
<li>
<span class="active_duty_name">SPC Zackery S. Pickren </span>
<span class="active_duty_info">IL National Guard, Alpha Battery, 2-122 Field Artillery 33 IBCT
<br> Son of Rick &amp; Shelly Pickren</span>

