<title>PETER C. TRANTOW</title>
<link rel="stylesheet" type="text/css" href="$home/slides.css">
<style>

a.parade $no_link
</style>
</head>

<body bgcolor="#FBE58F" class="parade">

#include "links.incl"



#include "parade/parade_links.incl"

<br>

<img src="pics/ptrantow.jpeg">   

<p>
Peter C. Trantow --- the 2016 Grand Marshall --- describes his US Army service:
</p>
<p>
I married my college sweetheart, Martha Lounsbury on August 23, 1969 in River Forest, IL.  We both graduated from the University of Wisconsin in January 1970.  Shortly afterwards I got on a waiting list for the Army National Guard in Madison, WI.
</p><p>
It was not until June 8, of that summer, that my orders were cut to be sent to Basic Training at Ft. Lewis, WA.  I became the 4th squad leader in my platoon, and was lead the platoon in the building of a training path through the woods on the base, and led daily runs on that path.  I was one of 5 men in the Company who maximized the Physical Combat Training Test at the end of Basic Training.  
</p><p>
I moved on to Advanced Individual Training (AIT) at Ft Lewis, and with only 7 days to go, my father died, and I was sent home on a 3- day emergency leave.  I returned to WA and processed out with an Honorable Discharge and my DD214 discharge papers as a Clerk Typist, MOS 70A10.
</p><p>
I came home and joined the 425th Transportation Brigade in Forest Park, IL, where I attended monthly meetings, and spent 2 weeks each summer at &ldquo;Summer Camp&rdquo;, in various locations, such as, Camp Pickett, VA, Camp (now Fort) McCoy, WI, and Ft. Riley, KS.
I transferred to the 305th Psychological Operations Battalion at O'Hare Field, and drove a tractor trailer rig with a huge printing press to Ft. Riley, KS one summer.
</p><p>
I completed my military obligation in June of 1976 with a rank of Staff Sergeant, having been promoted one rank for each year of service. The Army experience taught me discipline and respect for authority. I am still in contact with several of the guys, with which I served after all these years.
</p><p>

