<title>RIVER FOREST CIVIC ASSOCIATION</title>
<style>
a.home $no_link
</style>
</head>

<body bgcolor="#FBE58F">

#include "top_body.incl"

   Tell us about you, or your loved ones, military service by clicking <a href="http://goo.gl/d7uA5r">here</a>.
   <br><br>
<tr valign="center">
   <h1 align="center">Upcoming Events</h1>
   <h2 align="center">Tri-Village Convo with Cathy Adduci, Tony Calderone and Skip Saviano</h2>
   <p align="center"> To be rescheduled; it was delayed by bad weather. </p>
   <p align="center"> Join Village President Cathy Adduci, Mayor Calderone of Forest Park and Village President Skip Saviano of Elmwood Park for a discussion about shared interests and the future of our three neighboring communities! </p>
   <h2 align="center">River Forest Village &amp; Library Board candidate forumss</h2>
   <p align="center"> Wednesday, February 27, 2019 6:30PM &ndash; 9PM at Roosevelt School auditorium (southwest corner of school).</p>
   <p align="center">In partnership with the League of Women Voters, the RFCA will host a candidate forum for Library and Village Board candidates.  Governed by a League-determined format of brief introductions followed by candidate Q &amp; As, candidates will have the opportunity to introduce themselves and their platforms to those in attendance.</p>
   <h2 align="center">D200 (OPRF) School Board candidate forum</h2>
   <p align="center">Tuesday, March 19, 2019 7PM &ndash; 9PM at Oak Park Library. </p><p>Hosted by the League of Woman Voters. We are advertising it because we believe it will be of interest to River Forest residents. </p>

   <h2 align="center">D90 (K-8) School Board and River Forest Park District Board candidate forums</h2>
   <p align="center">Wednesday, March 20, 2019 7PM &ndash; 9PM at Roosevelt School auditorium (southwest corner of school).</p>
   <p  align="center">In partnership with the League of Women Voters, the RFCA will host a candidate forum for Park District and D90 School Board candidates.  Governed by a League-determined format of brief introductions followed by candidate Q &amp; As, candidates will have the opportunity to introduce themselves and their platforms to those in attendance.</p>
   

    <h1 align="center">Previous Candidate Forums</h1>
    <p align="center">A list of our archived candidate forums is available <a href="candidate_forums.html">here</a>.
</p >

<hr width="50%" align="center">
<table width=90% align="center" border=10 cellpadding=10 cellspacing=10>

<tr valign="center">

<td width=45% bgcolor="#CCFF99">
<font size=4> <b>
The River Forest Service Club was founded in 1935 with the purposes of promoting the civic welfare of the Village, of advocating honest and efficient government, and of generally promoting the welfare and best interests of the Village of River Forest.  Education, fellowship and community service have been the hallmarks of the organization from its inception.<br /><br />
</b> </font> </td>

<td width=45% bgcolor="white" align="center"> 
<img src="images/parade_3.jpg" width=325> 
</td
</tr>
<tr>
<td bgcolor="white" align="center">
<img src="images/parade_4.jpg" width=325> 
</td>
<td bgcolor="#CCFF99" valign="center">
<font size=4> <b>
In addition to monthly meetings, the River Forest Service Club sponsors the River Forest Memorial Day Parade, supports community events, activities and philanthropic endeavors, sponsors political candidate forums, and recognizes individuals who have given outstanding service to our neighborhoods, our community, or our country.

</b></font>

</td>

</tr>
</table 
<br /> <br />
<hr />
<p><h4 align="center" > Links to Local Government</h4></p>

<p align="center" class="links">

   <a href="http://www.river-forest.us/">
        Village of River Forest</a> 
        &#160&#160&#160
   <a href="http://www.rfparks.com/">
        River Forest Park District</a>
        &#160&#160&#160
   <a href="http://www.riverforestlibrary.org/">
        River Forest Public Library</a> 
        &#160&#160&#160    
   <br />
   <a href="http://www.district90.org/">
        River Forest Elementary School District 90</a>    
        &#160&#160&#160
   <a href="http://www.oprfhs.org/">
        Oak Park River Forest High School District 200</a>    
        &#160&#160&#160
   <br />
   <a href="http://www.riverforesttownship.org/">
        River Forest Township</a>
        &#160&#160&#160
   <a href="http://www.rfcc.info/">
        River Forest Community Center</a>

</p>

