<title> RIVER FOREST CIVIC ASSOCIATION - Meetings</title>
<style>
  a.meetings $no_link
</style>

</head>

<body bgcolor="#FBE58F">

#include "top_body.incl"


<hr width="50%"> <br />

<table width=75% align="center" border=10 cellpadding=10 cellspacing=10 bgcolor="#CCFF99">
<td>
<p><font size=4>
Monthly meetings provide a forum to share and discuss information on important issues facing <i><u> Local Governmental Boards and Commissions</u></i> as well as civic and educational institutions local to River Forest.  Guest speakers provide insights into Village organizations and institutions, as well as issues of timely importance to Village residents.  Recent guest speakers have included the River Forest Village Administrator, Chief of Police, Fire Chief, School Superintendent, and Township Assessor.  Recent speaker topics have included identity theft, Village WIFI, and the Oak Park and River Forest Community Foundation.  <br /> <br /> </font> </p>

<p><font size=2>
Note:<br/>
Examples of <i><u> Local Governmental Boards and Commissions</u></i> include R.F. Library Board, R.F. Park District Board, District 90 Elementary School Board, District 200 High School Board, R.F. Township Board, R.F. Village Board, Historic Preservation Commission, etc.</font></p> <br />

<p><font size=4>

At the meetings we not only learn more about the Village in which we live, we also enjoy  the fellowship of our neighbors and fellow residents.  Ample time for socialization is available both before and after the formal meeting, as members share refreshments and casual conversation.  <br /> <br />

The Service Club meets on the third Thursday evening of September thru May.  The normal agenda is:  
</p>

<ol>
<li> 7:00 - 7:30 Social Gathering                                </li>
<li> 7:30 Pledge of Allegiance                                   </li>
<li> Club Reports                                                </li>
<li> Reports from Public Boards (by members on those boards)     </li>
<li> Program (frequently a governmental guest speaker)           </li>
<li> Adjournment and socializing                                 </li>
</ol>

</font>
</td>
</table>

<br />
<br />

