<style>
a.membership $no_link
</style>
<title> RIVER FOREST CIVIC ASSOCIATION - Membership</title>
</head>
<body bgcolor="#CCFF99">
#include "top_body.incl"


<hr width="50%"> <br />

<table width=60% align="center" border=15 cellpadding=15 cellspacing=15 bgcolor="#FBE58F">
<td>
<p align="center"> <font size=6>

   What better way <br /> to be a part of your community? 

</font>
</p>
<hr />
<p  class="links"> <font size=5>
   If you are a River Forest resident and are interested in exploring membership in a dynamic organization that is active in local civic matters, please complete the linked   
<a href="membership_application.pdf">Membership Application</a>
and return it to: 
</font> </p>

<p align="center"> <font size=5>
River Forest Civic Association  <br />
P.O. Box 6490  <br />
River Forest, IL. 60305
</font> 
</p>
</td>
</table>

<br />


